body {
    overflow: hidden;
    height: 100vh;
    min-height: 100vh;
    background-color: #2e2e2e;
    color: #fff;
}

.row {
    z-index: 1;
    height: 33%;
    width: 100%;
    display: flex;
    clear: both;
}


.col {
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    border: rgb(147, 177, 199);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    margin: 5px;
    width: calc(50% - 10px);
    display: block;
    clear: both;
    display: flex;
}

.label {
    border-radius: 5px;
    margin: 5px;
    height: calc(100% - 10px);
    
}

canvas {
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    background-color: #2e2e2e;
}

h1 {
    margin-bottom: -2px;
    margin-top: 0;
    font-family: 'Cabin Sketch';
    font-size: 5vmin;
}

h2 {
    margin-top: -2px;
    margin-bottom: -2px;
    font-family: 'Amatic SC';
    font-size: 5vmin;
}

h3 {
    margin-top: -2px;
    font-family: 'Amatic SC';
    font-size: 4vmin;
}

div {
    font-family: 'Amatic SC';
    font-size: 3.5vmin;
}

.tapnum {
    font-size: 38vh;
    margin-top: -8.5vh;
    margin-left: auto;
    margin-right: -0.5vw;
    opacity: 50%;
}

iRaindrop {
    position: absolute;
    height: 200px;
    background: linear-gradient(transparent, #ffffff);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: animate 5s linear infinite;
}

iRaindrop:nth-child(3n+1) {
    background: linear-gradient(transparent, rgb(113, 117, 120));
}

iRaindrop:nth-child(3n+2) {
    background: linear-gradient(transparent, rgb(147, 177, 199));
}

iRaindrop:nth-child(3n+3) {
    background: linear-gradient(transparent, rgb(78, 89, 128));
}

@keyframes animate {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(calc(100vh + 200px));
    }
}